body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#navBar {
  background-color: #000;
  position: fixed;
  z-index: 99;
  width: 100%;
  opacity: 0.65;
}

#navBar:hover {
  border-bottom: 1px solid gray;
  opacity: 0.8;
}

#navBar ul li a {
  color: #f0f8ff;
}

#navBar ul li a:hover {
  border-radius: 10px;
  background-color: #e7ecf1;
  color: #000;
}

#container {
  width: 100%;
  height: 550px;
  background-image: url(img/hamburger-494706_1920.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  text-shadow: 3px 3px 4px #000;
}

.header-title {
  color: #f0f8ff;
  padding: 30px;
  padding-top: 120px;
}

.header-body {
  color: #f0f8ff;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.6;
}

.btn-menu {
  margin-top: 30px;
  width: 140px;
  height: 40px;
  color: #000;
  background-color: #e7ecf1;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.btn-menu:hover {
  background-color: #fff;
  color: #000;
}

/* About Us section  */

#about-us {
  padding: 50px;
}

/* Our Menu Section  */
#menu {
  background-color: #efefef;
}

.card {
  padding: 0;
  margin: 20px;
}

/* Feed Back Section  */
.round {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user {
  border-left: 5px solid red;
  padding-left: 30px;
}

.user:hover {
  border-left: 5px solid #000;
  transition: 2s;
}

/* Footer Section  */
.footer {
  height: 40px;
  text-align: center;
  background-color: red;
  color: #fff;
  line-height: 40px;
  margin-top: 20px;
}
